# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
.eggs/
*.whl

# Entornos virtuales
venv/
env/
.venv/
.env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
